body {
    font-family: Arial, sans-serif;
    background-color: rgb(65, 167, 217) !important; 
  }
  
  .contenedor {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #d7dff7;
    box-shadow: 0 2px 4px rgba(0.2, 0.2, 0.2, 0.4);
  }
  
  h1 {
    color: #333333;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 70%;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  #datosClima {
    margin-top: 20px;
    font-size: 18px;
  }
  
  nav span {
    color: white !important;
    font-size: 1.5vw !important;
  }